<%- include('templete/header') -%>
<%- include('templete/menu') -%>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <%- include('templete/sideMenu') -%>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
       <!-- BEGIN CONTENT BODY -->
       <div class="page-content">
           <!-- BEGIN PAGE HEADER-->
           <h3 class="page-title"> Dashboard </h3>
           <div class="page-bar">
               <ul class="page-breadcrumb">
                   <li>
                       <i class="icon-home"></i>
                       <a href="/">Dashboard</a>
                       <!-- <i class="fa fa-angle-right"></i> -->
                   </li>
               </ul>
           </div>
           <!-- END PAGE HEADER-->
           <!-- satrt body contenter code write here.... -->    

           <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">User List</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> First Name </th>
                                <th> Last Name </th>
                                <th> Email </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                        <%# JSON.stringify(userList) #%>
                        <% for(var i=0; i < userList.length; i++) { %> 
                            <tr>
                                <td> <%- i+1 -%> </td>
                                <td> <%- userList[i].first_name -%> </td>
                                <td> <%- userList[i].last_name -%> </td>
                                <td> <%- userList[i].email -%> </td>
                                <td>
                                    <span class="label label-sm label-success"> Edit </span>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

           <!-- end body contenter code write here.... -->    
       </div>
       <!-- END CONTENT BODY -->
   </div>
   <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<%- include('templete/footer') -%>